body{
    
    background: rgba(97, 24, 165, 0.795);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: rgb(20, 139, 218);
    margin: 20px;
}

.add-btn{
    background: rgb(134, 68, 221);
    width: 40px;
    height: 40px;
    
}

.app-title{
    text-align: center;
    color: rgb(54, 196, 243);
    font-size: 70px;
}
.container{
    border: 5px solid rgb(182, 100, 207);
    border-radius: 25px;

}